name: Run Tests

on:
  push:
    branches:
      - "master"
      - "v3"
  pull_request:
    branches:
      - '*'

jobs:
  spec:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby_version:
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "head"

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby_version }}
        bundler-cache: true

    - name: Run Tests
      run: bundle exec rake
